@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Ubuntu:ital,wght@0,300;1,400;1,500;1,700&display=swap");

:root {
  --main-font: "Ubuntu", sans-serif;
  --second-font: "Josefin Sans", sans-serif;
  --body-color: #020e13;
  --main-color: #001116;
  --second-color: #ffffff;
  --third-color: #00683e;
  --fourth-color: #00050a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 9rem;
}

body {
  background-color: var(--body-color);
  scroll-behavior: smooth;
}

/* Header & Nav */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 0 0 24px 24px;
  box-shadow: 0 2px 10px var(--third-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.navbar {
  width: 100%;
  color: var(--second-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-family: var(--second-font);
  margin-left: 40px;
  font-size: 36px;
  text-decoration: none;
  color: var(--second-color);
  font-weight: bold;
}

.logo a:hover {
  color: var(--third-color);
}

.navbar i {
  display: none;
}

.nav-link ul {
  width: 440px;
  height: 50px;
  margin-right: 40px;
  font-family: var(--second-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link ul li {
  text-align: center;
  width: 260px;
}

.nav-link li a {
  color: var(--second-color);
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link .active {
  opacity: 1;
}

.nav-link li a:hover {
  border: 3px solid var(--third-color);
  padding: 8px;
  border-radius: 30px;
  opacity: 1;
}

/* Main & Section */
.jumbotron {
  width: 80%;
  height: 80vh;
  max-height: 500px;
  margin: 80px auto;
  border: 1px solid var(--body-color);
}

.main-text {
  color: var(--second-color);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.main-text h1 {
  font-family: var(--second-font);
  font-size: 100px;
  margin-bottom: 10px;
  margin-left: -5px;
}

.main-text h1::after {
  content: "";
  display: block;
  border-bottom: 15px solid var(--third-color);
  margin: -30px 0 0 8px;
  width: 380px;
}

.main-text p {
  margin-left: 60px;
  margin-bottom: -25px;
}

.typing-text {
  display: flex;
  gap: 10px;
}

.typing-text span {
  font-size: 32px;
  font-family: var(--second-font);
}

/* Typing text */
.typing {
  width: 300px;
  animation: typing 3s steps(22), blink 0.6s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: var(--second-font);
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.button {
  width: 100px;
  text-align: center;
  margin-top: 20px;
  padding: 8px;
  color: var(--second-color);
  border: 2px solid var(--second-color);
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  border-radius: 5px;
  font-weight: bold;
  font-family: var(--main-font);
}

.button:hover {
  border-radius: 20px;
  background-color: var(--third-color);
}

/* Utility Heading*/
.heading {
  color: var(--second-color);
  text-align: center;
  font-family: var(--second-font);
  text-transform: capitalize;
  font-size: 32px;
  margin: 60px;
}

.heading::after {
  content: "";
  display: block;
  border-bottom: 5px solid var(--third-color);
  margin: -10px auto;
  width: 150px;
}

#button-up {
  font-size: 42px;
  color: var(--second-color);
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
  z-index: 2;
}

/* About Section */

.about .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  width: 100vw;
  height: 100%;
  padding: 0;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 40%;
}

.about .row .image img {
  width: 50%;
  height: 380px;
  object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 30px 0 30px 0;
}

.about .row .content {
  flex: 1 1 40%;
  margin-bottom: 30px;
}

.about .row .content h3 {
  font-size: 28px;
  font-family: var(--second-font);
  color: var(--second-color);
  width: 85%;
}

.about .row .content p {
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--second-color);
  padding: 20px 0;
  line-height: 1.4;
  width: 85%;
}

/* Skills */

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.skills .box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 40px 0 40px 0;
  margin: 0 auto 25px auto;
}

.skills .box .image-skill {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: var(--third-color);
  padding: 3px;
  border-radius: 50%;
}

.box .image-skill img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--third-color);
}

.box p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--second-color);
}

.box .skills-name {
  margin: 10px 0 3px 0;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 600;
}

/* Projects Section */

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.projects .box {
  width: 30%;
  border: 2px solid var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 20px;
  margin: 20px auto 25px auto;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 2px 10px var(--third-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.projects .box .image-projects {
  margin: 10px 0;
  height: 170px;
  width: 100%;
  background: var(--third-color);
  padding: 3px;
}

.box .image-projects img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box p {
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--second-color);
}

.box .projects-name {
  margin: 10px 0 3px 0;
  color: var(--second-color);
  font-size: 18px;
  font-weight: 600;
}

/* Footer */
footer {
  background-color: var(--fourth-color);
  width: 100%;
}

/* .contact {
            max-width: 600px;
            width: 100%;
            margin: auto;
            color: var(--second-color);
            font-family: var(--main-font);
            display: flex;
            justify-content: center;
            align-items: left;
            padding: 10px;
            flex-direction: column;
        } */

.copyright {
  font-family: var(--second-font);
  color: var(--second-color);
  text-align: center;
  padding: 10px;
}

.copyright a {
  color: var(--third-color);
}

@media (max-width: 900px) {
  /* skills section */
  .skills .box {
    width: 45%;
    margin: 20px auto;
  }

  /* Projects section */
  .projects .box {
    width: 45%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin: 100px 40px;
  }

  /* Header & Nav */
  .navbar {
    padding: 0px;
    display: flex;
    z-index: 1;
  }

  .navbar i {
    position: absolute;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    margin-right: 40px;
    right: 0;
    z-index: 4;
  }

  .nav-link ul {
    position: fixed;
    width: 100%;
    height: 95vh;
    background-color: var(--body-color);
    margin: 0;
    z-index: 3;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    right: -100%;
    transition: 0.7s;
  }

  nav ul.toggle {
    right: 0;
  }

  .navbar i.rotate {
    transform: rotateZ(45deg);
  }

  /* main & Section */

  .main-text h1 {
    font-family: var(--second-font);
    font-size: 70px;
    margin-left: -5px;
  }

  .main-text h1::after {
    content: "";
    display: block;
    border-bottom: 8px solid var(--third-color);
    margin: -20px 0 0 5px;
    width: 264px;
  }

  .main-text p {
    margin-left: 40px;
    margin-bottom: -20px;
  }

  .typing-text {
    display: block;
  }

  /* About Section */

  .about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    width: 100vw;
    height: 100%;
    flex-wrap: wrap;
  }

  .about .row .image {
    flex: 1 1 100%;
  }

  .about .row .image img {
    width: 70%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: auto;
  }

  .about .row .content {
    flex: 1 1 100%;
    padding: 2rem;
    text-align: justify;
    margin: auto;
  }

  .about .row .content h3 {
    font-size: 24px;
    color: #fff;
    width: 100%;
    margin-top: 15px;
  }

  .about .row .content p {
    font-size: 18px;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.4;
    width: 100%;
  }

  /* Skills section */
  .skills .box {
    width: 60%;
    margin: 20px auto;
  }

  /*projects section */
  .projects .box {
    width: 90%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 500px) {
  .skills .box {
    width: 90%;
    margin: 20px auto;
  }
}
